
#home {
  padding: 0%;
  margin: 25px;
}
#home h1 {
  text-align: right;
  font-size: 2.2rem;
}

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    /* margin: px; */
    padding: 0px 7px;
    padding-bottom: 2px;
}




.slideshow {
    width: 150px;
    height: 130px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-bottom: 55px;
}